body {
	font-size: 14px;
	line-height: 0px;
	color: #333333;
	font-weight:normal;
	font-family: "PT Sans", sans-serif;
}

p {
	line-height: 21px;
}

h2 {
	font-size: 21px;
	line-height: 26px;
}
footer {
	position: relative;
}

.main-header {
	min-height: 56px;
	width: 768px;
	background-color: #ff6161;
}
	
}

.first-navigation {
	display: block;
	background-color: #ff6161;
	width: 100%;
	height: 56px;


}

li  {
    display: inline-block;  
    text-align: center; 

}
.info {
	float: left;
	width: 20%;
	min-height: 40px;
	background-color: #2b9b9b;
	margin-left: -30px;
	margin-top: 10px;
	line-height: 30px;


  
}
.media {
	float: left;
	width: 20%;
	min-height: 40px;
	background-color: #2b9b9b;
	margin-left: 5px;
	margin-top: 10px;
	line-height: 30px;
}

.hotels {
	float: right;
	width: 20%;
	min-height: 40px;
	background-color: #2b9b9b;
	margin-right: 5px;
	margin-top: 10px;
	line-height: 30px;
}
.statemap {
	float: right;
	width: 20%;
	min-height: 40px;
	background-color: #2b9b9b;
	margin-right: 10px;
	margin-top: 10px;
	line-height: 30px;
}
.city-logo {
	
	margin-right: auto;
    margin-left: auto;
}
.main-container {
	width: 768px;
}


.main-container .welcome-block,
.main-container .welcome-title,
.main-container .welcome-bottom {
	width: 100%;
	height: 512px;
	position: relative;
}

.main-container .welcome-block {
	background: url(../img/background_photo.jpg);
}

.main-container  .welcome-title {
	background: url(../img/welcome.png) center no-repeat;
}

.main-container .welcome-bottom {
	background: url(../img/corner1.png) bottom no-repeat;
}

.description-block {
	display: block; 
    margin: auto;
}
.descriptions {
	display: block; 
    margin: 0 auto;
    width: 768px;
    height: 260px;
}

.advantage {
	width: 768px;
    height: 260px;
    margin-top: 60px;
	  
   
} 
}
.residence
.food
.souvenirs {
	margin-top: 60px;
    background-color: #f28500;
}
.reason-blue {
	background-color: #81b3d2;
	float: left;
    width: 33%;
    height: 256px;
    display: inline-block;  
    text-align: center; 
    margin-right: 0px;
    
}
.sedona-photo-small {
	float: right;
     width: 66%;

}


.residence {
	
	 float: left;
     width: 33%;
     height: 256px;
     text-align: center;

    
}
.food {
	
	 float: left;
     width: 33%;
     height: 256px;
     text-align: center;
    
}
.souvenirs {
	
	 float: right;
     width: 33%;
     height: 256px;
     margin-right: 0;
     text-align: center;
    
}
.reason-grey {
	 background-color: #eeeeee;
	 float: left;
     width: 33%;
     height: 256px;
     display: inline-block;  
    text-align: center; 
}
.reason-blue:last-child {
	background-color: #81b3d2;
	 float: right;
     width: 33%;
     height: 256px;
}
.sedona-photo-brige {
	float: left;
    width: 66%;
}
.reason-blue-brige{
	background-color: #81b3d2;
	float: right;
    width: 33%;
    height: 256px;
    display: inline-block;  
    text-align: center; 
}
.brige {
	width: 768px;
    height: 260px;
    margin: 0 auto;
}
.main-footer {
	width: 768px;
	height: 120px;
	background: #f9fbf6;
	
}
.hashtag {
	width: 33%;
    float:left;
    display: inline-block;  
    text-align: center; 
}
.footer-social {
	width: 33%;
	float:left;
	display: inline-block;  
    text-align: center; 
}
.footer-copyright {
	width: 33%;
	float: right;
	display: inline-block;  
    text-align: center; 

}

